[*.cs]

# CS0659: Il tipo esegue l'override di Object.Equals(object o) ma non esegue l'override di Object.GetHashCode()
dotnet_diagnostic.CS0659.severity = none

[*.{cs,vb}]
dotnet_style_require_accessibility_modifiers=omit_if_default:error